<html lang="en">

<body id="boldback">
<div class = "container bold">
    <div class="jumbotron text-center bold"  ng-init="" >
      <h1 style="font-family: 'Raleway';">University Search</h1>
      <h2 style="font-family: 'Roboto Slab';">Find and Share Files.</h2>
      <p class="lead" style="font-family: 'Lato';">
      <!--<img src="assets/images/LogoReversedBlue.jpg" alt="I'm Yeoman"><br>-->

        <p></p>
      <p> <acme-malarkey extra-values="['University of Toronto']" style="color:#5cd6d6;"></acme-malarkey></p>
        <!--<p>A wealth of information at your fingertips..</p>-->
        </p>
        <p></p>
        <ng-form name="login" style="font-family: 'Lato';" novalidate>

            <p>Email: <input style="margin-left: 49px;" type="text" ng-model="email" required></p>
            <p>Password: <input style="margin-left: 12px;"  type="password" ng-model="password" required></p>
            <!--<li ng-repeat="phone in main.phones | orderBy:main.orderProp">{{phone}}</li>-->
            <!--<p>{{name}}</p>-->
            <p><!-- class="animated infinite" ng-class="main.classAnimation">-->
                <button type="button" class="btn btn-lg btn-success" ng-click="main.submitCredentials(email, password)"
                        style="font-family: 'Droid Sans';" ng-disabled=!login.$valid
                        ng-keydown="$event.which === 13 && main.submitCredentials(email, password)">Sign In!
                </button>
            </p>
        </ng-form>
        <p> Or </p>
        <p><!-- class="animated infinite" ng-class="main.classAnimation">-->
            <!--rather than ng-click="main.showToastr()"-->
            <button type="button" class="btn btn-lg btn-success" ng-click="main.register()"
                    ng-keydown="$event.which === 13 && main.register()" style="font-family: 'Droid Sans';">
                Register!
            </button>
        </p>
        <p style="font-family: 'Raleway';">
            <acme-malarkey extra-values="['Convenience','Accessibility']" style="color:#5cd6d6;"></acme-malarkey>
            for
            <acme-malarkey extra-values="['Students','Instructors']" style="color:#5cd6d6;"></acme-malarkey>
        </p>

    </div>
  </div>
   </div>
</div>
</body>

</html>
